<!doctype html>
<html>

   <body>
    <h1>Anushree Badarinath Kasal</h1>
        <h1>1001624311</h1>
<h2> <a href = "/">Home</a> </h2>
      <header> <h1> This page lists the voting records </h1>
      </header>
      <br> <br>

      <table border = 1>
         {% for rows in rows %}
         <tr><td>
        {{rows}}
		<br>
         </td>
         </tr>
         {% endfor %}

      </table>
     <table border = 1>
         {% for rows1 in rows1 %}
         <tr><td>
        {{rows1}}
		<br>
         </td>
         </tr>
         {% endfor %}

      </table>

      <br>

   </body>
</html>